@import "../../website-colors.scss";

.clubs-bg {
  box-sizing: border-box;
  background-color: map-get($website-blue, 100);
}

.club-desc {
  padding: 20px;

  .mat-title {
    font-weight: bold;
    letter-spacing: 1px;
  }

  .link {
    float: right;

    .fas {
      font-size: 1.2em;
    }
  }
}
