<div id="clubs" class="clubs-bg">
  <div class="wrapper">
    <h1 class="mat-headline headline">
      <span class="num">05</span> Other Projects
    </h1>
    <div
      class="container"
      fxLayout="row wrap"
      fxLayout.lt-sm="column"
      fxLayoutGap="20px"
      fxLayoutGap.lt-sm="50px"
      fxLayoutAlign="center"
    >
      <my-browser color="#4862bd" *ngFor="let club of clubs" fxFlex="1 1 0">
        <div class="club-desc">
          <span class="link"
            ><a *ngIf="club.link" mat-icon-button [href]="club.link"
              ><i class="fas fa-external-link-alt"></i></a
          ></span>
          <h2 class="mat-title">{{ club.club }}</h2>

          <p class="mat-caption">{{ club.position }}</p>
          <p>{{ club.desc }}</p>
        </div>
      </my-browser>
    </div>
  </div>
</div>
