<div class="about-bg">
  <div class="container wrapper about" 
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutGap="50px"> 
    <div class="about-desc" fxFlex="50%">
      <h1 class="mat-title">01 About Me</h1>
      <p>In 2018, I graduated from the New Jersey Institute of Technology with a bachelors in Computer Science and Applied Math. There I honed my skills and deepened my love for coding. I like the challenge of figuring out how to solve problems using as few resources as possible. See below for some of the skills I have and some projects I have created in my free time.
        </p>
    </div>
    <mat-card fxFlex="auto">
      <mat-card-title>My skills</mat-card-title>
    </mat-card>
  </div>
</div>
