.about-bg {
    background: #5386E4;
    padding-top: 100px; 
    padding-bottom: 100px;
}

.about {
    color: white;

    .mat-title {
        color: black;
    }
}

.dots .dot {
    background-color: white;
}

.line {
    border-color: white;
    box-sizing: border-box;
}

.terminal {
    box-sizing: border-box;
    padding: 20px;
    position: relative;
    top: 20px;
    width: 100%;
    height: auto;
    background-color: black;
    border: solid 5px white;
}