<div id="about" class="about-bg">
  <div class="container wrapper about" 
    fxLayout="row"
    fxLayout.lt-sm="column"
    fxLayoutGap="50px"> 
    <div class="about-desc" fxFlex="50%">
      <h1 class="mat-display">01 About Me</h1>
      <p>Hey there! My name is Taylor Tu and I'm from New Jersey. In 2018, I graduated from the New Jersey Institute of Technology with a bachelors in Computer Science and Applied Math. There I honed my skills and deepened my love for coding. I like the challenge of figuring out how to solve problems using as few resources as possible. See below for some of the skills I have and some projects I have created in my free time.
        </p>
        <p>Some other stuff about myself. </p>
    </div>
    <my-browser color="white" fxFlex="auto">
      <div class="terminal">
        <h3>> Taylor.programming_languages </h3>
        <p>=> Python, Java, C, C++, Bash</p>
        <h3>> Taylor.frontend_skills</h3>
        <p>=> Angular, Typescript, Javascript, HTML/CSS </p>
        <h3>> Taylor.backend_skills</h3>
        <p>=> MySQL, PHP</p>
      </div>
    </my-browser>
  </div>
</div>
