@import "../../website-colors.scss";

.about-bg {
  background: $mdc-theme-background;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .about-bg {
    padding-left: 12px;
    padding-right: 12px;
  }
}

.about {
  .mat-title {
    color: black;
  }
}

.terminal {
  color: #fafafa;
  font-family: "Inconsolata", monospace;
  box-sizing: border-box;
  padding: 20px;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #0d1b1e;
  text-align: left;
}
