.mat-toolbar {
  transition: all 0.3s ease;
  will-change: transform;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
  height: 80px;
}

.nav-scroll {
  box-shadow: #676a6b 0px 2px 4px;
  height: 65px;
}

.num {
  font-family: "Inconsolata", monospace;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
   Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
