<mat-toolbar id="navbar" color="primary">
  <span
    ><h1 class="mat-display-1 headline">T<span class="num">2</span></h1>
  </span>
  <span class="fill-remaining-space"></span>
  <span fxShow="true" fxHide.lt-md="true">
    <a href="#about" mat-button><span class="num">01 </span>About Me</a>
    <a href="#experience" mat-button><span class="num">02 </span>Experience</a>
    <a href="#projects" mat-button
      ><span class="num">03 </span>Selected Works
    </a>
    <a href="#clubs" mat-button><span class="num">04 </span>Other Projects</a>
    <a href="#contact" mat-button><span class="num">05 </span>Contact</a>
    <a href="/" mat-stroked-button class="button-resume">Resume</a>
  </span>
  <span fxShow="true" fxHide.gt-sm="true"
    ><button mat-icon-button [matMenuTriggerFor]="submenu">
      <mat-icon>menu</mat-icon>
    </button></span
  >
</mat-toolbar>

<mat-menu #submenu="matMenu">
  <a href="#about" mat-menu-item><span class="num">01 </span>About Me</a>
  <a href="#experience" mat-menu-item><span class="num">02 </span>Experience</a>
  <a href="#projects" mat-menu-item
    ><span class="num">03 </span>Selected Works</a
  >
  <a href="#clubs" mat-menu-item><span class="num">04 </span>Other Projects</a>
  <a href="#contact" mat-menu-item
    ><span class="num">05 </span>Contact</a
  ></mat-menu
>
