<div id="experience" class="experience-bg wrapper">
  <h1 class="mat-display">02 Experience</h1>

  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="RDE Systems">
      <div class="container"
      fxLayoutAlign="center"
      fxLayout="row"
      fxLayout.xs="column"
      fxLayoutGap="30px">
      <div class="browser" fxFlex="40%">
          <div class="dots">
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
          </div>
          <div class="line"></div>
          <img class="experience-pic" src="assets/images/rde_messaging.png" alt="RDE Messaging System">
      </div>
      <div class="experience-desc" fxFlex="40%">
        <h3>RDE Systems</h3>  
        <p>RDE Systems is a technology consultancy company that serves the public health sector. As part of a small team, I designed and developed a messaging system using Angular to facilitate communication between AIDS patients and their caseworkers. I also created a Coldfusion API and integrated this messaging system into a larger webapp which ensured patients living with AIDS and HIV have access to medication.</p>
      </div>
    </div>
    </mat-tab>
    <mat-tab label="Trillium">
      <div class="container"
      fxLayoutAlign="center"
      fxLayout="row"
      fxLayout.xs="column"
      fxLayoutGap="30px">
        <div class="browser" fxFlex="40%">
          <div class="dots">
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
          </div>
          <div class="line"></div>
          <img class="experience-pic" src="assets/images/rde_messaging.png" alt="RDE Messaging System">
        </div>
        <div class="experience-desc" fxFlex="40%">
          <h3>Trillium</h3>  
          <p>Trillium is a high stakes trading company located in New York City. At Trillium LABS, I collaborated with a team web app to display trading data in graphical and intuitive manner using WebGL, HTML5 canvas, and JS. I added new features based on customer feedback such as resizable windows, graphical functions, zoom, and stock search which simplified user interactions and provided better market picture. Furthermore, I responded to ticket issues, developed bug fixes, & pushed changes using JIRA and TortoiseSVN.</p>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Forbes">
        <div class="container"
        fxLayoutAlign="center"
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutGap="30px">
          <div class="browser" fxFlex="40%">
            <div class="dots">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
            <div class="line"></div>
            <img class="experience-pic" src="assets/images/rde_messaging.png" alt="RDE Messaging System">
          </div>
          <div class="experience-desc" fxFlex="40%">
            <h3>Forbes</h3>  
            <p>At Forbes Media, I worked on the Forbes website and aided the team focused on advertisements. I analyzed Adblock development trends and contributed to creation of “adblock blocker” which increased company revenue. I gained experience with Google Tag Manager V2 & Google Analytics, SpringMVC, and website template design. I also obtained experience with Git & Code Review via Phabricator/Arcanist.</p>              </div>
        </div>
    </mat-tab>
  </mat-tab-group>
  <!-- <mat-vertical-stepper>

    <ng-template matStepperIcon="edit">
      <mat-icon>chevron_right</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="active">
      <mat-icon>chevron_right</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="readmore">
        <mat-icon>expand_more</mat-icon>
    </ng-template> 

    <mat-step label="RDE Systems" state="readmore">
      <div>
        <p>Something about RDE</p>
      </div>
    </mat-step>

    <mat-step label="Trillium LABS" state="readmore">
      <div>
        <p>Something about Trillium</p>
      </div>
    </mat-step>

    <mat-step label="Forbes">
      <div>
        <p>Something about Forbes</p>
      </div>
    </mat-step>

  </mat-vertical-stepper> -->
</div>
