.experience-bg {
    text-align: center;
    padding: 100px;
}

.container {
    margin: 30px;

    .experience-desc {
        text-align: left;
    }

}

.experience-pic {
    position: relative;
    top: 20px;
    width: 100%;
    border: solid 5px #5386E4;
}