@import "../../website-colors.scss";

.experience-bg {
  box-sizing: border-box;
  text-align: center;
  background-color: map-get($website-blue, 800);
  color: $mdc-theme-background;
}

::ng-deep .mat-tab-list .mat-tab-label {
  color: $mdc-theme-background;
  font-weight: bold;
}

.container {
  margin: 30px;
  height: 510px;

  .tech {
    margin-top: 30px;

    mat-chip {
      font-family: "Inconsolata", sans-serif;
      color: $mdc-theme-background;
      border: solid 1px $mdc-theme-background;
      border-radius: 0;
      background-color: transparent;
    }
  }

  .experience-pic {
    vertical-align: bottom;
    width: 100%;
    will-change: transform;
    transition: all 0.4s ease;
    cursor: pointer;
  }

  .experience-pic:hover {
    opacity: 0.6;
    transform: scale(1.3);
  }

  .experience-desc {
    text-align: left;

    .desc-li {
      font-family: "Inconsolata", sans-serif;
    }
  }
}

@media screen and (max-width: 1024px) {
  .container {
    height: 680px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    place-content: stretch start !important;
    align-items: start;
    height: 865px;
  }
}
