<div class="container"
fxLayoutAlign="center"
fxLayout="row"
fxLayout.xs="column"
fxLayoutGap="30px">
    <div fxFlex="40%">
        <my-browser [color]="color">
            <img class="experience-pic" [src]="image" alt="RDE Messaging System">
        </my-browser>
        <div class="tech">
            <ng-content select="mat-chip-list"></ng-content>
        </div> 
    </div>

    <div class="experience-desc" fxFlex="40%">
        <h3>{{position}} <a [href]="company_link">@{{company}}</a></h3> 
        <ng-content></ng-content>
        <button mat-raised-button color="primary" (click)="openDialog()">Read more</button>
    </div>
</div>
