.experience-bg {
    box-sizing: border-box;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

@media screen and (max-width: 1024px){
    .experience-bg {
        padding: 40px;
    }
}

.container {
    margin: 30px;

    .experience-desc {
        text-align: left;
    }

}

.tech {
    margin-top: 30px;
}

.experience-pic {
    vertical-align: bottom;
    width: 100%;
}