<div class="projects-bg">
  <div class="wrapper">
    <h1 class="mat-display">04 Other Things I Built</h1>
    <div class="project-tiles">
      <div
        *ngFor="let project of projects"
        class="project-tile"
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutGap="30px"
        fxLayoutAlign="center"
      >
        <div
          class="browser-container"
          fxFlex="30%"
          [fxFlexOrder]="project.image_location === 'left' ? 1 : 2"
        >
          <my-browser>
            <img [src]="project.image" alt="Photo of project" />
          </my-browser>
        </div>
        <div class="project-desc" fxFlex="40%" fxFlexOrder="1">
          <h2>{{ project.title }}</h2>
          <p>{{ project.desc }}</p>
          <a
            mat-raised-button
            href="http://taylork2.github.io/PraiseTheSun/"
            target="_blank"
            >Play the game!</a
          >
          <div class="tech">
            <mat-chip-list>
              <mat-chip *ngFor="let skill of project.skills">{{
                skill
              }}</mat-chip>
            </mat-chip-list>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
