.projects-bg {
    background-color: #4C4B63;
    padding-top: 100px;
    padding-bottom: 100px;
    color: #fafafa;
}

img {
    width: 100%;
    vertical-align: bottom
}

.tech {
    margin-top: 30px;
}