<div class="projects-bg">
	<div class="wrapper">
		<h1 class="mat-display">04 Other Things I Built</h1>

		<div class="project-tile" 
		flexLayout="row"
		flexLayout.xs="column"
		fxLayoutGap="30px">
			<div fxFlex="30%" fxFlexOrder="2">
				<my-browser>
					<img src="assets/images/rde_messaging.png" alt="Photo of project">
				</my-browser>
			</div>
			<div fxFlex="40%" fxFlexOrder="1">
				<h2>Praise the Sun</h2>
				<p>Praise the Sun is a game reimagining the popular flash game "Cookie Clicker." 
					This was made for the Global Game Jam in 2016. 
					Click the link below for more information. 
					</p>
				<a mat-raised-button href="http://taylork2.github.io/PraiseTheSun/" target="_blank">Play the game!</a>
				<div class="tech">
					<mat-chip-list>
						<mat-chip>Javascript</mat-chip>
						<mat-chip>HTML/CSS</mat-chip>
					</mat-chip-list>
				</div>
				
			</div>

		</div>
	</div>
</div>