<div id="projects" class="projects-bg">
  <div class="wrapper">
    <h1 class="mat-display-1 headline">
      <span class="num">03</span> Selected Works
    </h1>
    <div class="project-tiles">
      <div
        *ngFor="let project of projects"
        class="project-tile"
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutGap="30px"
        fxLayoutAlign="center"
      >
        <div
          class="browser-container"
          fxFlex="30%"
          [fxFlexOrder]="project.image_location === 'left' ? 1 : 2"
        >
          <my-browser color="#5386E4">
            <img [src]="project.image" alt="Photo of project" />
          </my-browser>
        </div>
        <div class="project-desc" fxFlex="40%" fxFlexOrder="1">
          <h3 class="mat-title">
            {{ project.title }}
            <a
              *ngIf="project.other_link"
              mat-icon-button
              [href]="project.other_link"
              target="_blank"
            >
              <span style="font-size: 1.7em"
                ><mat-icon>launch</mat-icon></span
              > </a
            ><a
              *ngIf="project.github_link"
              mat-icon-button
              [href]="project.github_link"
              target="_blank"
            >
              <span style="font-size: 1.5em; vertical-align: bottom"
                ><i class="fab fa-github"></i>
              </span>
            </a>
          </h3>
          <p>{{ project.desc }}</p>

          <div class="tech">
            <mat-chip-list>
              <mat-chip *ngFor="let skill of project.skills"
                >> {{ skill }}</mat-chip
              >
            </mat-chip-list>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
