@import "../../website-colors.scss";

.contact-bg {
  background-color: $mdc-theme-black;
  text-align: center;
  color: $mdc-theme-background;

  .headline {
    color: $mdc-theme-primary;
  }
  .mat-display-1 {
    margin: 10px;
    font-size: 4vw;
  }
  .mat-icon-button i {
    font-size: 2em;
  }
}

@media screen and (max-width: 600px) {
  .contact-bg {
    .mat-display-1 {
      font-size: 10vw;
    }
  }
}
