<div id="contact" class="contact-bg">
  <div class="wrapper">
    <h1 class="mat-headline headline"><span class="num">05.</span> Contact</h1>
    <h1 class="mat-display-1">Let's get in touch!</h1>
    <p>I'm currently open to new opportunities.</p>
    <p>
      You can reach me through email or social media at one of the links below!
    </p>
    <a href="mailto:tkt7@njit.edu" mat-icon-button
      ><i class="fas fa-envelope-square"></i
    ></a>
    <a
      href="https://www.linkedin.com/in/taylor-tu"
      target="_blank"
      mat-icon-button
      ><i class="fab fa-linkedin"></i
    ></a>
    <a href="https://www.github.com/taylork2" mat-icon-button target="_blank"
      ><i class="fab fa-github-square"></i>
    </a>
  </div>
</div>
