<div class="welcome-bg" id="welcome">
  <div
    class="container wrapper welcome"
    fxLayoutGap="50px"
    fxLayoutGap.lt-sm="40px"
    fxLayout="row"
    fxLayout.lt-sm="column"
    fxLayoutAlign.lt-sm="center center"
  >
    <my-browser color="#fafafa" fxFlex="30%" fxFlexOrder.lt-sm="2">
      <img class="pic" src="assets/images/linked_in.jpg" alt="Photo of Me!" />
    </my-browser>

    <div class="welcome-desc" fxFlex="auto" fxFlexOrder.lt-sm="1">
      <h2 class="mat-title hello">> Hello World!</h2>
      <h1 class="mat-display-4 name">I'm Taylor Tu.</h1>
      <h3 class="tagline">Software Developer && Creator</h3>
      <p>
        I am a software developer based in Toronto, ON. I have a passion for
        creating things - whether it be apps or algorithms or designs.
      </p>
      <a href="mailto:tkt7@njit.edu" mat-icon-button
        ><i class="fas fa-envelope-square"></i
      ></a>
      <a
        href="https://www.linkedin.com/in/taylor-tu"
        target="_blank"
        mat-icon-button
        ><i class="fab fa-linkedin"></i
      ></a>
      <a href="https://www.github.com/taylork2" mat-icon-button target="_blank"
        ><i class="fab fa-github-square"></i>
      </a>
    </div>
  </div>
</div>
