.welcome {
  margin-top: 70px;
  margin-bottom: 70px;
}

.name {
  font-size: 8vw;
}

.pic {
  width: 100%;
  vertical-align: bottom;
}

.mat-title {
  font-family: "Inconsolata", sans-serif;
}

.tagline {
  text-transform: uppercase;
  letter-spacing: 3px;
}
