<div class="container wrapper welcome"
  fxLayoutGap="50px"
  fxLayout="row"
  fxLayout.lt-sm="column">

  <my-browser fxFlex="30%">
      <img class="pic" src="assets/images/linked_in.jpg" alt="Photo of Me!">
  </my-browser>

  <div class="welcome-desc" fxFlex="auto">
    <h2 class="mat-title">> Hello World!</h2>
    <h1 class="mat-display-4 name">I'm Taylor Tu</h1> 
    <h3>SOFTWARE DEVELOPER | CREATOR</h3>
    <p>I am a software developer based in Toronto, ON. I have a passion for creating things - whether it be apps or algorithms or designs.</p> 
  </div>
</div>
