/* You can add global styles to this file, and also import other style files */
// @import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~@angular/material/theming";

@include mat-core();

// some blox material theme variables, e.g.:
$mdc-theme-primary: #5386e4;
$mdc-theme-accent: #9efffa;
$mdc-theme-secondary: #4c4b63;
$mdc-theme-black: #0d1b1e;
$mdc-theme-background: #fafafa;

$website-blue: (
  50: #e5f2fe,
  100: #c1ddfd,
  200: #9cc9fb,
  300: #79b4f8,
  400: #64a3f6,
  500: #5794f3,
  600: #5386e4,
  700: #4d74d0,
  800: #4862bd,
  900: #3e449d,
  A100: #53cee4,
  A200: #83dded,
  A300: #b3eaf4,
  A400: #e1f7fb,
  contrast: (
    50: $mdc-theme-black,
    100: $mdc-theme-black,
    200: $mdc-theme-black,
    300: $mdc-theme-black,
    400: $mdc-theme-black,
    500: $mdc-theme-black,
    600: $mdc-theme-background,
    700: $mdc-theme-background,
    800: $mdc-theme-background,
    900: $mdc-theme-background,
    A100: #53cee4,
    A200: #83dded,
    A300: #b3eaf4,
    A400: #e1f7fb
  )
);

$website-theme-primary: mat-palette($website-blue, 600, 300, 500);
// $website-accent: mat-palette($mat-teal, A200, A100, A400);
$website-accent: mat-palette($website-blue, 600, 300, 500);

$website-theme: mat-light-theme($website-theme-primary, $website-accent);

@include angular-material-theme($website-theme);

$custom-typography: mat-typography-config(
  $font-family: "Nunito Sans, sans-serif"
);

@include mat-base-typography($custom-typography);
@include mat-button-typography($custom-typography);
@include mat-tabs-typography($custom-typography);

html,
body {
  height: 100%;
  margin: 0;
  font-family: Inconsolata, "Helvetica Neue";
  color: $mdc-theme-black;
  text-align: justify;
}

a {
  color: $mdc-theme-accent;
}

.headline {
  font-weight: bold;
}

.num {
  font-family: "Inconsolata", monospace;
}

.wrapper {
  margin-right: auto;
  margin-left: auto;

  max-width: 1080px;

  padding: 100px 36px 100px;
}

@media screen and (max-width: 1060px) {
  .wrapper {
    padding: 100px 36px 100px;
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    padding: 40px 25px 100px;
  }
}
