/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

@import "~@angular/material/theming";

// some blox material theme variables, e.g.:
$mdc-theme-primary: #5386e4;
$mdc-theme-secondary: #4c4b63;
$mdc-theme-black: #0d1b1e;
$mdc-theme-background: #fafafa;

$custom-typography: mat-typography-config(
  $font-family: "Nunito Sans, sans-serif"
);

@include mat-base-typography($custom-typography);
@include mat-button-typography($custom-typography);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Inconsolata, "Helvetica Neue";
  color: $mdc-theme-black;
}

.headline {
  font-weight: bold;
}

.num {
  font-family: "Inconsolata", monospace;
}

.wrapper {
  margin-right: auto;
  margin-left: auto;

  max-width: 1080px;

  padding: 100px 36px 100px;
}

@media screen and (max-width: 1060px) {
  .wrapper {
    padding: 100px 36px 100px;
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    padding: 40px 25px 100px;
  }
}
