/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@import '~@angular/material/theming';

// some blox material theme variables, e.g.:
$mdc-theme-primary: #5386E4;
$mdc-theme-secondary: #4C4B63;
$mdc-theme-black: #0D1B1E;
$mdc-theme-background: #fff;

// // Set some default font styles for text outside MCW components:
// @import "~@material/typography/mixins";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.wrapper {
    margin-right: auto;
    margin-left: auto;

    max-width: 1080px;

    padding-right: 10px;
    padding-left: 10px;
}